/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src:
	local('Oswald Regular'),
	local('Oswald-Regular'),
	url(https://fonts.gstatic.com/s/oswald/v11/yg0glPPxXUISnKUejCX4qfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src:
	local('Oswald Regular'),
	local('Oswald-Regular'),
	url(https://fonts.gstatic.com/s/oswald/v11/pEobIV_lL25TKBpqVI_a2w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
	/*background-image: url("assets/bg_texture.png"), url("assets/bg_sky.png"), url("assets/semafor.png");
	background-color: #A8EE9d;
	background-repeat: repeat-x, no-repeat, no-repeat;
	background-position: center bottom, center top, center top;
	background-size: auto,  100% 120%, 100%;
	background-attachment: fixed, fixed, fixed;*/
	background-image: url("assets/semafor.png"),url("assets/semafor.png"),url("assets/trawa.png"),  url("assets/bg_sky.png");
	background-repeat: no-repeat,no-repeat,repeat-x,repeat-x;
	background-position: bottom left, bottom right,bottom left, center top;
	background-origin: border-box,border-box,border-box,content-box;
	background-size: auto, auto, auto, 200% 220%;
}

a:link {
	color: red;
}

a:visited {
	color: olive;
}

a:hover {
	background-color: rgba(51,102,232,0.9);
	position:relative;
	z-index:2;
	color: red;
}

@media all and (orientation: portrait){
	body {
		background-image: url("assets/bg_texture.png"), url("assets/bg_sky.png");
		background-color: #A8EE9d;
		background-repeat: repeat-x, no-repeat;
		background-position: 0% 25%, center top;
		background-size: 10% 10%,100% 30%;
		background-attachment: fixed, fixed;
	}

  header img{
  	width: auto;
    height: 150px;
    left: auto;
    display: block;
    margin: 0 auto;
    opacity: 1;
  	}
  }

#menu_glowne ul a {
	display:block;
	color:#000000;
	text-decoration:none;
	font-weight:700;
	font-size:12px;
	line-height:32px;
	padding:0 15px;
	font-family: 'Oswald';
  background:rgba(144, 133, 170, 0.9);
}

#menu_glowne ul a:hover {
	background-color: rgba(33, 150, 177, 0.9);
	position:relative;
	z-index:2;
	color: black;
}

#menu_glowne ul ul {
	display:none;
	position:absolute;
	background:rgba(204,230,255,0.8);
}

.flexbox > div:hover {
	font-family: 'Oswald';
	margin: 5px 5px 5px 10px;
	-webkit-transition: ease 2s;
	-moz-transition: ease 2s;
	transition: ease 2s;
	width: 100%;
	height: auto;
}

.flexbox > div:nth-child(1){ background-color: #dabcf6; }
.flexbox > div:nth-child(1):hover{ background-color: #8a2be2; }

.flexbox > div:nth-child(2){ background-color: #d1e0b8; }
.flexbox > div:nth-child(2):hover{ background-color: #8db14e; }

.flexbox > div:nth-child(3){ background-color: #ffd199; }
.flexbox > div:nth-child(3):hover{ background-color: #ff8c00; }

.flexbox > div:nth-child(4){ background-color: #bef4f1 }
.flexbox > div:nth-child(4):hover{ background-color: #26d9d0; }

.flexbox > div:nth-child(5){ background-color: #ffcccc; }
.flexbox > div:nth-child(5):hover{ background-color: #ff0000; }

.flexbox > div:nth-child(6){ background-color: #aaaaaa; }
.flexbox > div:nth-child(6):hover{ background-color: #666666; }

.formularz {
	background: hsla(357, 77%, 58%, 0.72);
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 20px 20px 20px;
}

.formularz > input[type="text"],
.formularz > input[type="tel"],
.formularz > input[type="email"],
.formularz > input[name="month"],
.formularz > label > select,
.formularz > textarea {
	width:100%;
	border-width: 5px;
	border-style: solid;
	background: hsla(144, 77%, 58%, 0.7);
	border: 2px solid hsla(312, 33%, 44%, 0.8);
	width:initial;
	-webkit-transition: ease-in 1s;
	-moz-transition: ease-in 1s;
	transition: ease-in 1s;
}

.formularz > input[type="text"]:focus,
.formularz > input[type="tel"]:focus,
.formularz > input[type="email"]:focus,
.formularz > input[name="month"]:focus,
.formularz > label > select:focus,
.formularz > textarea:focus {
	border: 2px solid hsla(120, 66%, 77%, 0.8);
	background: hsla(144, 99%, 80%, 0.7);
	font-size: 16pt;
	width:100%;
	-webkit-transition: ease-in 1s;
	-moz-transition: ease-in 1s;
	transition: ease-in 1s;
}

footer > p {
  background-color: #227788;
}
